ion-label {
    color: #00FFFF !important;
    white-space: normal;
    word-break: no-break;
}

button {
    min-height: 40px;
    border-radius: 6px;
}

ion-item {
    background-color: transparent !important;
}

ion-input {
    color: #FFF;
}

ion-textarea {
    color:#FFF;
}