
h2 {
        padding-top: 5px !important;
        font-size: 3vw !important;
        font-style: bold !important;
}

p {
    white-space: normal;
}

h3 {
    white-space: nowrap;
    font-size: 3vw !important;
    font-weight: bold !important;
}

.skills {
    font-style: italic;
}
