
p {
    white-space: normal;
}

h2 {

}

h3 {

}

h2, h3 {
    font-size: 3vw !important;
}

h4 {
    font-size: 2vw !important;
}

h2, h3, h4 {
    font-weight: bold !important;
    padding-top: 5px !important;
    white-space: nowrap;
}

.skills {
    font-style: italic;
}
