<ion-content padding>
    <ion-grid h-100> 
        <ion-row padding>
            <ion-col padding>
                <ion-icon color="#00FFFF" item-right name='arrow-dropleft-circle'></ion-icon>                        
            </ion-col>
            <ion-col padding>
                <img src="assets/imgs/1.jpg" />
            </ion-col>
            <ion-col padding>
                <ion-icon color="#00FFFF" item-right name='arrow-dropright-circle'></ion-icon>        
            </ion-col>
        </ion-row>
        <ion-row>
            <p>Enter descriptive text here</p>
        </ion-row>
    </ion-grid>
</ion-content>
