.blog-entry {
    h2 {
        padding-top: 5px;
        font-size: 3vw;
        font-style: bold;
    }
    
    .blog-author {
        text-align: right;
        font-style: italic;
    }
    
    .blog-date {
        text-align: right;
        font-style: italic;            
    }
    
}