<app-page-header [title]="title"></app-page-header>

<ion-content padding>
    <ion-card style="max-width:20%; min-width:200px;">
        <ion-card-content>
            <p style="font-style: italic">Welcome, Visitor!</p>
            <p>{{time | date:'medium'}}</p>
            <p>{{city}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card [ngClass]="{'clickable': card.clickable }" (click)="openPage(card.link, card.clickable)" *ngFor="let card of cards; let i = index;">
        <ion-card-header>
            <img src='assets/imgs/techno-brain.jpg' />
            <h2>{{card.title}}</h2>            
        </ion-card-header>  
        <ion-card-content>
            <p padding>
                {{card.body}}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>