<app-page-header [title]="title"></app-page-header>

<ion-content padding>    
    <app-clock></app-clock>

    <ion-card [ngClass]="{'clickable': card.clickable }" (click)="openPage(card.link, card.clickable)" *ngFor="let card of cards; let i = index;">
        <ion-card-header>
            <img src='assets/imgs/techno-brain.jpg' />
            <h2>{{card.title}}</h2>            
        </ion-card-header>  
        <ion-card-content>
            <p padding>
                {{card.body}}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>